/* .card {
  width: 24rem;
  padding: 20px;
}
.container {
  background-color: #213555;
}
.dashboard-card {
  width: 18rem;
}

.icons {
  font-size: 20;
}
.product-form {
  background-color: #3e5879;
}
.trip-card {
  width: 24rem;
  padding: 20px;
  background-color: #f5efe7;
} */
.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}